*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    justify-content: center;
    align-items: center;

}

:root{

    --bck-section:#020009;

    --title-princ: #fff;
    --card-color: #0f0f0f;
    --border-color: linear-gradient( to right, tomato 0%, gold 100%);
    --carta-clr: #fff;

    --seccion-bck: #fff;
    --seccion-clr: #0a020e;
}


.sec-carta{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: var(--bck-section);
    /* padding: 100px 0; */
    padding: 10px 0;

}

.card-contorn{

    min-height: 80vh;
    min-width: 93vw;
    background:  var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.title-name{

    color: var(--title-princ);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-name h2{
    font-size: 1.5em;
    margin-top: 10px;
}

.line-border{
    background: var(--border-color);
    min-height: 70vh;
    min-width: 85vw;  
    position: relative;
    padding: 3px;
    margin-bottom: 20px;

}

/* _____________________________________________________________ */



.carta-m{

    min-height: 70vh;
    width: 85vw;
    background: var(--card-color);
    padding: 20px;
    color: var(--carta-clr);



}



.card-content{
    /* width: 40vw; */
    margin-bottom: 28px;
}

.title-menu{
    display: flex;
    justify-content: space-between;
}

.title-menu h3{
    font-size: 1em;
    color: var(--carta-clr);
    font-weight: 600;
}
.title-menu h4{
    font-size: .8;
    color: var(--carta-clr);
    font-weight: 500;

}


.s-lines{
    display: block;
}
.lines{
    /* width: 90vw; */
    height: 2px;
    background: var(--border-color);
    margin: 6px 0;
}


.me-content{
    font-size: .8;
    color: var(--carta-clr);
    font-weight: 500;
}



/* _____________________________________________________________ */




.card-seccion{
    background: var(--seccion-bck);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.title-seccion{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}

.title-seccion h2{
    color: var(--seccion-clr) ;
}

/* _____________________________________________________________ */






@media only screen and (min-width: 720px){

    .card-contorn{

        min-height: 80vh;
        min-width: 70vw;
    }

    .title-name h2{
        font-size: 1.5em;
    }

    .line-border{
        min-height: 70vh;
        min-width: 60vw; 
    }

    .carta-m{

        min-height: 70vh;
        width: 60vw;
    }

    .title-menu h3{
        font-size: 1em;
    }
    .title-menu h4{
        font-size: .8;
    
    }
    
    .me-content{
    font-size: .8;
    }
    

    .title-seccion{
        font-size: 1.1em;
    }


}

@media only screen and (min-width: 850px){

    .card-contorn{

        min-width: 65vw;
    }

    .line-border{
        min-width: 55vw; 
    }

    .carta-m{

        width: 55vw;
    }

}

@media only screen and (min-width: 970px){
    
    .card-contorn{

        min-width: 60vw;
    }

    .line-border{
        min-width: 52vw; 
    }

    .carta-m{

        width: 52vw;
    }
}


@media only screen and (min-width: 1070px){
    .card-contorn{

        min-width: 50vw;
    }
    .line-border{
        min-width: 42vw; 
    }

    .carta-m{
        width: 42vw;
    }

}

