
.sect-slider{
    background: var(--bck-section);
    padding: 100px 15vw;

}


.slider-wrappe{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}


.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

/* .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease .3s;
} */





@media only screen and (max-width: 780px) {

    .sect-slider{
        min-height: 80vh;
        /* min-width: 70vw; */
        padding: 100px 4vw;
    
    }
    
    .slider{
        height: 70vh;
        width: 90vw;
    
    }
    
}